<div class="container image">
  <div class="title">
    <div class="sub-title">
      <h2><strong> UNIVERSIDADE SÃO JUDAS TADEU </strong></h2>
      <h4>FACULDADE DE TECNOLOGIA E CIÊNCIAS EXATAS</h4>
    </div>
    <div class="sub-title">
      <h5><strong>TEORIA DA COMPUTAÇÃO E COMPILADORES</strong></h5>
      <h5><strong>PROFª MILKES YONE ALVARENGA</strong></h5>
    </div>
    <div class="sub-title">
      <h5><strong>APLICAÇÕES DE AUTÔMATOS</strong></h5>
    </div>
  </div>
  <div class="row justify-content-md-center">
    <div class="menu">
      <div class="col-md-6">
        <button class="btn btn-primary" routerLink="/vending-machine">Máquina de venda de doces</button>
      </div>
      <div class="col-md-6">
        <button class="btn btn-primary" routerLink="/elevator">Elevador</button>
      </div>
    </div>
  </div>
</div>