.menu {
    padding: 20px;
    text-align: center;
}
.title {
    text-align: center;
    margin-top: 50px;
}
.sub-title {
    padding: 10px;
}
.btn {
    width: 250px;
    margin: 2px;
}
.image {
    background: url("../../assets/images/logo_facul.png") no-repeat;
    background-size: 100% 100%;
}
