<div class="container" style="padding-top: 1%;">
  <h1>Máquina de venda de doces</h1>
  <ngb-alert *ngIf="alert != null" [type]="alert.type" (closed)="closeAlert()">{{ alert.message }}</ngb-alert>
  <div [class]="purchased ? 'machine gg' : 'machine'">
    <div class="section">
      <div class="shelves">
        <div *ngFor="let candy of candys" class="shelf" (click)="selectCandy(candy)">
          <div
            [ngClass]="{ 'item': !candy.selected, 'item-selected': candy.selected && candy.canBuy, 'item-buy': candy.canBuy && !candy.selected }"
            [ngStyle]="{ 'background-image': 'url(' + candy.url + ')'}">
          </div>
          <div class="detail">
            <span class="code">{{ candy.name }}</span><span class="price">{{ getCoinFormatted(candy.price) }}</span>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="coins">
        <div *ngFor="let coin of coins" class="coin">
          <a [ngStyle]="{ 'background-image': 'url(' + coin.url + ')'}" (click)="insertCoin(coin.value)"></a>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="row">
        <div class="col-md-6">
          <input type="text" class="coinage" [value]="getCoinFormatted(totalCoin)" placeholder="0.00"
            [disabled]="cannotProcessCoin">
        </div>
        <div class="col-md-6">
          <button type="button" (click)="buy()">Comprar</button>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="tray" [attr.purchased]="purchased">
        <div *ngIf="candyPurchased" class="item" [ngStyle]="{ 'background-image': 'url(' + candyPurchased.url + ')'}">
        </div>
      </div>
      <div class="coin_return">
        <div *ngIf="candyPurchased" class="coin">
          <a [ngStyle]="{ 'background-image': 'url(' + coinReturned?.url + ')'}"></a>
        </div>
      </div>
    </div>
  </div>
</div>